.containerMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #828282;
  position: absolute;
  top: 60px;
  right: 200px;
  height: 70px;
  width: 220px;
  z-index: 1;
  border-radius: 5px;
  background-color: #0d0d0d;
  border: 1px solid #3b3c3e;
}

.containerMain h3 {
  font-size: 11px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: white;
}

.details {
  position: absolute;
  top: -7px;
  right: 87px;
  width: 10px;
  height: 10px;
  border: 1px solid #3b3c3e;
  transform: rotate(45deg);
  border-bottom-color: transparent;
  border-right-color: transparent;
  background-color: #0d0d0d;
}

.containerInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 50%;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #3b3c3e;
}

.containerInput:focus {
  border: 1px solid #355061;
}

.containerInput input {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  padding-left: 10px;
  background-color: #0d0d0d;
  color: white;
  border: none;
}

.containerInput input::placeholder {
  font-size: 11px;
}

.containerInput input:focus {
  outline: none;
  border: none;
}

.containerInput .containerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  cursor: pointer;
  transition: transform 0.2s;
}
.containerInput .containerIcon:hover {
  background-color: rgb(22, 22, 22);
}

.containerInput .containerIcon:active {
  transform: translateY(-1px);
}
